<mat-toolbar color="primary">
<mat-toolbar-row>
    <span>Task Management</span>
    <span class="example-spacer"></span>
    <button (click)="addList()" class="example-icon" mat-button mat-raised-button color="accent">Add List</button>
  </mat-toolbar-row>
</mat-toolbar>

<div cdkDropListGroup class="mt-5">
    <div class="container">
        <div class="row border border-primary" *ngFor="let list of lists">
            <app-task-block class="col-sm" [id]='list.id' [name]='list.list_name' [list]="list_id[list.id]"></app-task-block>
        </div>
    </div>
</div>